version: '3.1'

services:
  db:
    image: postgres:15
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=odoo
      - POSTGRES_PASSWORD=odoo
    volumes:
      - db_data:/var/lib/postgresql/data

  odoo:
    image: odoo:18
    depends_on:
      - db
    ports:
      - "8069:8069"
    volumes:
      - odoo_data:/var/lib/odoo
      - ../Custom-Odoo-Invoice-Report-Indonesian-Layout-Experiment/module:/mnt/extra-addons
    command: >
      odoo --addons-path=/mnt/extra-addons,/usr/lib/python3/dist-packages/odoo/addons
    environment:
      - HOST=db
      - USER=odoo
      - PASSWORD=odoo

volumes:
  db_data:
  odoo_data:
